################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Starter Files/ImageGallery/.vs/ImageGallery/v15
/.vs/SecuringAspNetCore2WithOAuth2AndOIDC/v15
/.vs
/Finished sample/.vs/ImageGallery/v16
/Finished sample/src/ImageGallery.API/bin/Debug/netcoreapp3.1
/Finished sample/src/ImageGallery.API/obj
/Finished sample/src/Marvin.IDP/obj
/Finished sample/src/ImageGallery.Model
/Finished sample/src/ImageGallery.Client/obj
/Starter files/src/Gangster.IDP/bin/Debug/netcoreapp3.0
/Starter files/src/Gangster.IDP/obj
/Starter files/.vs/ImageGallery
/Starter files/src/ImageGallery.API/bin/Debug/netcoreapp3.1
/Starter files/src/ImageGallery.Client/bin/Debug/netcoreapp3.1
/Starter files/src/ImageGallery.Model/bin/Debug/netstandard2.0
/Starter files/src/ImageGallery.Model/obj
/Starter files/src/ImageGallery.API/obj/Debug/netcoreapp3.1/staticwebassets
/Starter files/src/ImageGallery.API/obj/Release/netcoreapp3.1
